html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#title {
    font-size: 2em;
    font-weight: bold;
    color: #4a4a4a;
    text-decoration: none;
    display: inline-block;
    margin: 2.5% 5em;
}

#navbar {
    text-align: center;
    border-color: #9CB7B6;
    border-style: solid;
    border-width: 1px 0 0 0;
    background-color: #AEC8C7;
    box-shadow: 0px 6px 10px #888888;
}

#navbar a {
    padding: 10px 5%;
    display: inline-block;
    color: #5a5a5a;
    text-decoration: none;
    height: 25px;
    font-size: 1.2em;
}

#navbar a:hover {
    background-color: #0095D5;
    color: white;
    text-shadow: 5px 2px #0074A5;
    margin-top: -3px;
}

#sidebar {
    position: relative;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #A2C1C0;
    float: left;
    padding:20px;
    background-color: #E4E9E8;
    /*z-index: -1;*/
}

#sidebar a {
    color: #4a4a4a;
    text-decoration: none;
}

#body {
    margin: 20px;
    display: inline-block;
}

.bodytext {
    margin-left: 2em;
}

#footer {
    display: inline-block;
    text-align: center;
    padding: 20px;
    width: 100%;
}

#footertext {
    text-decoration: none;
    color: #3a3a3a;
}

/*
    element_info.html styles
*/

.el_name {
    color: #2573b2;
    font-size: 2em;
}

.el_type {
    font-size: 1.5em;
    font-style: italic;
    color: #888888;
}

.el_args {
    font-size: 1.7em;
}

.el_docstring {
    margin-left: 3em;
    font-size: 1.2;
}

.el_subclass_header {
    font-size: 1.3em;
}

.el_subfunction_header {
    font-size: 1.3em;
}